<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Calculator</title>
    </head>

    <body>
        <div class="header"></div>
            <h1>A Simple Calculator</h1>
            <h3>Made in Pure JavaScript</h3>
        </div>
        <div id="calculator">
    <!--        <input></input>-->
            <div class="result"><p></p></div>
            <div class="clear">C</div>

            <span class="number">7</span>
            <span class="number">8</span>
            <span class="number">9</span>
            <span class="operator">+</span>

            <span class="number">4</span>
            <span class="number">5</span>
            <span class="number">6</span>
            <span class="operator">-</span>

            <span class="number">1</span>
            <span class="number">2</span>
            <span class="number">3</span>
            <span class="operator">/</span>

            <span class="number">0</span>
            <span class="operator">.</span>
            <span class="operator">=</span>
            <span class="operator">*</span>
        </div>

        <script src="../app.js"></script>
    </body>
</html>
